/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card-header {
    background-color: #f4f4ff !important;
    padding: 10px 16px 10px !important;

}

.mat-mdc-card-title {
    color: #4d45b5 !important;
}

.mat-mdc-card-content {
    padding: 16px 20px !important;
}